.connexion-main{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 0;
    background-color: $color-secondary-1;
}

.connexion-main-error-message{
    align-self: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    width: 40%;
    padding: 15px 0px;
    border-radius: 10px;
    border: 1px solid  $color-secondary-3;
    color: $pure-white;
    background-color: opacify-color($color-secondary-3, 0.3);
}

.connexion-main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: content-box;
    height: 400px;
    padding: 20px;
    width: 60%;
        &__heading{
            font-family: 'Inter', sans-serif;
            text-align: center;
        }

        &__form{
            @include dashboard-forms();
                input[type="text"], input[type="password"]{
                    @include inscription-connexion-input();
                }

                input[type="submit"]{
                    @include inscription-links($color: $pure-white, $bgcolor: $color-secondary-2);
                    @include inscription-links-hover($color: $pure-white, $bgcolor: $color-secondary-2);
                }
        }
}