.connexion-main{
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: 0;
    background-color: $color-secondary-1;
}

.connexion-main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
        &__heading{
            font-family: 'Inter', sans-serif;
            text-align: center;
        }

        &__form{
            min-width: 300px;
            width: 30%;
            display: flex;
            flex-direction: column;
                input[type="text"]{
                    @include inscription-connexion-input();
                }

                input[type="submit"]{
                    @include inscription-links($color: $pure-white, $bgcolor: $color-secondary-2);
                    @include inscription-links-hover($color: $pure-white, $bgcolor: $color-secondary-2);
                }
        }
}