.dashboard{
    height: 100%;
    width: 100%;
    display: flex;
}

.dashboard-side{
    width: 30%;
    height: 100%;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-main{
    width: 70%;
    height: 100%;
    background-color: red;
}