.dashboard-main-time{
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
    border: 1px solid $color-secondary-2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
        &__title{
            margin: 0px 0px 10px 20px;
            padding: 0 10px;
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: bold;
        }

        &__form{
            width: 80%;
            font-family: 'Inter', sans-serif;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
                div{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                        label{
                            font-weight: 500;
                            margin-bottom: 3px;
                        }

                        input{
                            width: 100%;
                            @include inscription-connexion-input();
                        }
                }

                &__submit{
                    input{
                        @include input-submit($color: $pure-white, $bgcolor: $color-secondary-2);
                        @include input-submit-hover($color: $pure-white, $bgcolor: $color-secondary-2);
                    }
                }
        }

        &__form-reset{
            input{
                @include input-submit($color: $pure-white, $bgcolor: $color-primary);
                @include input-submit-hover($color: $pure-white, $bgcolor: $color-primary);
                padding: 0 10px;
            }
        }
}

.dashboard-main-stats{
    margin-bottom: 30px;
    padding: 10px 0;
    width: 100%;
    border: 1px solid $color-secondary-2;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        &__title{
            margin: 0px 0px 10px 20px;
            padding: 0 10px;
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: bold;
        }

        &__box{
            height: 130px;
            width: 20%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
                &__appreciation{
                    font-family: 'Inter', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                        span{
                            white-space: nowrap;
                        }
                }

                &__count{
                    @include dashboard-appreciation-count($color: $pure-white, $bgcolor: $color-secondary-2);
                        span{
                            font-family: 'Inter', sans-serif;
                            font-size: 20px;
                        }
                }
        }
}

.dashboard-main-answers{
    min-height: 200px;
    width: 100%;
    border: 1px solid $color-secondary-2;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
        &__title{
            margin: 0px 0px 10px 20px;
            padding: 0 10px;
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: bold;
        }

        &__heading{
                width: 100%;
                padding: 0px 20px;
                display: flex;
                justify-content: flex-end;
                &__export{
                    text-decoration: none;
                    background-color: $color-primary;
                    color: $pure-white;
                    padding: 8px 20px;
                    border-radius: 5px;
                    border: none;
                    min-width: 180px;
                    width: 20%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.3s;
                        &:hover{
                            @include input-submit-hover($color: $pure-white, $bgcolor: $color-primary);
                        }

                        img{
                            height: 20px;
                        }
                }
        }

        table{
            margin-top: 20px;
            width: 100%;
            // border-collapse: collapse;
        }

        th, td{
            padding: 10px;
        }

        th{
            text-align: left;
            border: 1px solid opacify-color($color-secondary-2, 0.5);
            background-color: $color-primary;
            box-shadow: 1px 1px 5px opacify-color($pure-black, 0.3),
                        inset -2px -2px 5px opacify-color($color-secondary-2, 0.2);
        }

        td{
            border: 1px solid opacify-color($color-secondary-2, 0.5);
            max-width: 300px;
            word-break: break-all;
        }
}

//FORMULAIRE DE DÉFINITION DU NOM DU FICHIER EXCEL
.excel-filename-form{
    @include dashboard-forms();
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    font-family: 'Inter', sans-serif;
    display: none;
        &.active{
            display: block;
        }

        &__close{
            position: absolute;
            top: 0;
            right: -40px;
            background-color: $color-secondary-1;
            font-family: 'Inter', sans-serif;
            font-size: 25px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            box-shadow: 1px 1px 5px opacify-color($pure-black, 0.3),
                        inset -2px -2px 5px opacify-color($color-secondary-2, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
                &.active{
                    display: block;
                }
        }

        h3{
            text-align: center;
            margin-bottom: 20px;
        }

        input:not(input[type="submit"]){
            @include inscription-connexion-input();
        }

        input[type="submit"]{
            @include input-submit($color: $pure-white, $bgcolor: $color-primary);
            @include input-submit-hover($color: $pure-white, $bgcolor: $color-primary);
        }
}