.inscription-main{
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inscription-main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
        &__heading{
            font-family: 'Inter', sans-serif;
            text-align: center;
            margin: 20px 0;
        }

        &__form{
            @include dashboard-forms();
                input[type="text"], input[type="password"], select {
                    @include inscription-connexion-input();
                }

                input[type="submit"]{
                    @include input-submit($color: $pure-white, $bgcolor: $color-secondary-2);
                    @include input-submit-hover($color: $pure-white, $bgcolor: $color-secondary-2);
                }
        }
}