.manageUsers-main-usersList{
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
        &__title{
            margin: 0px 0px 10px 0px;
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: bold;
        }

        table{
            width: 100%;
            // border-collapse: collapse;
        }

        th, td{
            padding: 10px;
        }

        th{
            text-align: left;
            border: 1px solid opacify-color($color-secondary-2, 0.5);
            background-color: $color-primary;
            box-shadow: 1px 1px 5px opacify-color($pure-black, 0.3),
                        inset -2px -2px 5px opacify-color($color-secondary-2, 0.2);
        }

        td{
            border: 1px solid opacify-color($color-secondary-2, 0.5);
            max-width: 300px;
            word-break: break-all;
        }

        &__deleteUser{
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            width: 100%;
            padding: 5px 10px;
            color: $pure-white;
            background-color: opacify-color($color-secondary-3, 0.4);
            cursor: pointer;
        }
}

.manageUsers-main-overflow{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: opacify-color($pure-black, 0.5);
        &.active{
            display: block;
        }
}

.manageUsers-main-confirmation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    width: 60%;
    border-radius: 10px;
    background-color: $color-secondary-1;
    z-index: 10;
        &.active{
            display: flex;
        }

        &__closing-cross{
            position: absolute;
            top: 5px;
            right: 15px;
            font-size: 30px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
        }

        &__question{
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            text-align: center;
            margin: 20px 0;
        }

        &__form{
            @include dashboard-forms();
            height: 100px;
            padding: 3%;
            justify-content: space-evenly;
                &__info{
                    font-family: 'Inter', sans-serif;
                    text-align: center;
                    margin: 20px 0;
                    display: flex;
                    justify-content: center;
                        &__num{
                            background-color: transparent;
                            width: 80px;
                            border: none;
                            // text-align: center;
                            font-family: 'Inter', sans-serif;
                            font-weight: 600;
                            font-size: 16px;
                            pointer-events: none;
                        }
                }

                &__buttons{
                    display: flex;
                    justify-content: space-evenly;
                        input[type="submit"]{
                            width: 30%;
                        }

                        &__oui{
                            @include input-submit($color: $pure-white, $bgcolor: $color-primary);
                            @include input-submit-hover($color: $pure-white, $bgcolor: $color-primary);
                        }

                        &__non{
                            @include input-submit($color: $pure-white, $bgcolor: $color-secondary-3);
                            @include input-submit-hover($color: $pure-white, $bgcolor: $color-secondary-3);
                        }
                }

        }
}