@mixin header-links($color: $color-secondary-1, $bgcolor: transparent){
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgcolor;
    color: $color;
    font-family: 'Inter', sans-serif;
    border: 1px solid opacify-color($color-secondary-1, 0.4);
    border-radius: 5px;
    height: 43px;
    width: 100%;
    transition: 0.3s ease;
}

@mixin header-links-hover($bgcolor: $pure-white, $opacity-amount: 0.1){
    &:hover{
        background-color: opacify-color($bgcolor, $opacity-amount);
        box-shadow: 0px 5px 5px opacify-color($pure-black, 0.3);
    }
}

@mixin dashboard-appreciation-count($color: $pure-white, $bgcolor: $color-secondary-2){
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    background-color: $bgcolor;
    color: $color;
    border-radius: 15px;
    box-shadow: 2px 2px 5px opacify-color($pure-black, 0.1),
                inset 3px 3px 10px opacify-color($pure-black, 0.3),
                inset -3px -3px 10px opacify-color($pure-white, 0.3);
}

@mixin input-submit($color: $color-secondary-1, $bgcolor: transparent){
    background-color: $bgcolor;
    color: $color;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    height: 43px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

@mixin input-submit-hover($color: $color-secondary-1, $bgcolor: transparent, $opacity-amount: 0.7){
    &:hover{
        background-color: opacify-color($bgcolor, $opacity-amount);
        box-shadow: 0px 5px 5px opacify-color($pure-black, 0.1);
        color: $color;
    }
}

@mixin inscription-connexion-input(){
    width: 100%;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

@mixin dashboard-forms(){
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $color-secondary-1;
    box-sizing: content-box;
    padding: 10%;
    box-shadow: inset 5px 5px 10px opacify-color($pure-black, 0.1),
                inset -5px -5px 10px opacify-color($pure-white, 0.7),
                3px 3px 5px opacify-color($pure-black, 0.1);
}