.dashboard-side{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    background-color: $color-secondary-4;
    padding: 10px;
        &__title{
            display: block;
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 500;
            // border: 2px solid red;
            box-shadow: 0px 5px 5px opacify-color($pure-black, 0.3);
            text-align: center;
            padding: 30px;
            color: $color-secondary-1;
            letter-spacing: 1px;
            user-select: none;
        }

        &__container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 30px;
            height: 100%;
            width: 100%;
        }

        nav{
            
            display: flex;
            justify-content: center;
        }
        
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        li{
            margin: 5px 0;
            width: 100%;
        }

        &__link{
            @include header-links();
            @include header-links-hover();
                &--active{
                    background-color: opacify-color($color-secondary-1, 0.2);
                }

                &--deconnexion{
                    @include header-links($bgcolor:$color-secondary-3);
                    @include header-links-hover($bgcolor:$color-secondary-3, $opacity-amount:0.8);
                }
        }

        
}